@{
    Layout = null;
}

<a href="@Url.Action("GioHang", "GioHang")"
   style="color:white; font-weight:bold; text-decoration:none; margin-left: 15px;">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    Giỏ hàng (@ViewBag.TongSoLuong)
</a>