@model IEnumerable<TanHoangAnh.SachOnline.Models.CHUDE>

<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center">
        SÁCH THEO CHỦ ĐỀ
    </li>
    @foreach (var chude in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("SachTheoChuDe", "SachOnline", new { id = chude.MaCD })" style="text-decoration:none; display:block; color:#333;">
                @chude.TenChuDe
            </a>
        </li>
    }
</ul>