<footer class="text-center" style="background:#eee;padding:20px;margin-top:20px">

    <p>2021 - Nhà sách ABC. Allright Reserved</p>
    <p>Website được phát triển để sử dijng làm bài tập thực Lập trình Web</p>
    <p>Email: abc@gmail.com</p>

</footer>
