<ul class="list-group">

    <li class="list-group-item active text-center">
        SÁCH THEO NHÀ XUẤT BẢN
    </li>

    <a href="#" class="list-group-item">Nhà xuất bản Trẻ</a>
    <a href="#" class="list-group-item">NXB Tổng hợp</a>
    <a href="#" class="list-group-item">Kim Đồng</a>
    <a href="#" class="list-group-item">Đại học quốc gia</a>
    <a href="#" class="list-group-item">Văn hóa</a>
    <a href="#" class="list-group-item">Lao động</a>
    <a href="#" class="list-group-item">Khoa học kỹ thuật</a>

</ul>
