<h3 class="text-center mt-5" style="text-transform: uppercase;">Sách bán nhiều</h3>
<hr>
<div class="row">

    <div class="col-md-6 mb-4">
        <div class="row">
            <div class="col-4">
                <img src="~/Images/WORD2000.jpg" alt="Sách bán nhiều" class="img-fluid border" />
            </div>
            <div class="col-8">
                <h5 class="text-primary" style="font-size: 16px; font-weight: bold;">Tên sản phẩm</h5>
                <p class="text-muted" style="font-size: 13px; text-align: justify;">
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="row">
            <div class="col-4">
                <img src="~/Images/KT0001.jpg" alt="Sách bán nhiều" class="img-fluid border" />
            </div>
            <div class="col-8">
                <h5 class="text-primary" style="font-size: 16px; font-weight: bold;">Tên sản phẩm</h5>
                <p class="text-muted" style="font-size: 13px; text-align: justify;">
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="row">
            <div class="col-4">
                <img src="~/Images/130499.jpg" alt="Sách bán nhiều" class="img-fluid border" />
            </div>
            <div class="col-8">
                <h5 class="text-primary" style="font-size: 16px; font-weight: bold;">Tên sản phẩm</h5>
                <p class="text-muted" style="font-size: 13px; text-align: justify;">
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="row">
            <div class="col-4">
                <img src="~/Images/130318.jpg" alt="Sách bán nhiều" class="img-fluid border" />
            </div>
            <div class="col-8">
                <h5 class="text-primary" style="font-size: 16px; font-weight: bold;">Tên sản phẩm</h5>
                <p class="text-muted" style="font-size: 13px; text-align: justify;">
                    Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                </p>
            </div>
        </div>
    </div>

</div>